@import "colors";
@import "menu";
@import "portfolio";
@import "hover";
@import "list";
@import "footer";




body{
  background: $white;
  font-family: 'Poppins', sans-serif;
}


.hide-container{
  display: none;
}